<%= f.InputTag("Name") %>
<%= f.TextAreaTag("Description", {rows: 10}) %>
<%= f.TextAreaTag("Attractions", {rows: 10}) %>
<%= f.InputTag("Email") %>
<%= f.InputTag("Telephone") %>
<%= f.InputTag("Website") %>
<%= f.InputTag("Facilities") %>
<%= f.InputTag("Owninguser") %>
<%= f.InputTag("Images") %>
<%= f.InputTag("Longitude") %>
<%= f.InputTag("Latitude") %>
<%= f.InputTag("Addressstreet") %>
<%= f.InputTag("Locality") %>
<%= f.InputTag("Town") %>
<%= f.InputTag("County") %>
<%= f.InputTag("Postcode") %>
<%= f.InputTag("Listingexpires") %>
<button class="btn btn-success" role="submit">Save</button>
