
<%= partial("navbar.html") %>

<div class="jumbotron">
<h1>Signup</h1>
<p>It's easy to join us using your favourite social site, or create your own username and password (Club User) if you prefer</p>
<a href="/auth/facebook">Facebook</a>
<button type="button" class="btn btn-light"><a href="/auth/gplus">Google+</a></button>
<button type="button" class="btn btn-light"><a href="/auth/instagram">Instagram</a></button>
<a href="/auth/linkedin">LinkedIn</a>
<button type="button" class="btn btn-light"><a href="/auth/meetup">Meetup</a></button>
<button type="button" class="btn btn-light"><a href="/auth/paypal">Paypal</a></button>
<a href="/auth/twitter">Twitter</a>
<button type="button" class="btn btn-light"><a href="/users/new">Club User</a></button>
